<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:gap="http://phonegap.com/ns/1.0"
        id="org.laismoreira.cenourapp"
        version="1.0.0">

    <name>
        Só de Cenoura
    </name>

    <description>
        Menu do restaurante Só de Cenoura.
    </description>

    <author href="http://laismoreira.org" email="qualquer@laismoreira.org">
        Lais Moreira
    </author>
    
    <preference name="orientation" value="portrait" />
    <preference name="fullscreen" value="true" />
    <preference name="permissions" value="none" />
    <gap:platform name="android" />
    
    <icon src="icon.png" />
    <gap:splash src="splash.png" />
</widget>